@import "tailwindcss";

/*Login, Signup, Forget Password Design In Mobile*/

@media (max-width: 768px) {
    /*Left Section In Mobile*/
    .left-section{
        display: none;
    }
    /*ٌRight Section In Mobile*/
    .right-section{
        padding: 20px;
        width: 100%;
        margin: auto
    }
    .right-section .mobile-logo{
        display: block;
    }
}

/*header */
nav .burger span{
    display: block;
    width: 40px;
    height: 2px;
    background: black;
}
nav .burger span:not(:last-child){
    margin-bottom: 9px;
}
.mobile-menu {
    width: 250px;
    position: absolute;
    top: 72px;
    left: 100%;
    background-color: #d9d9d9;
    padding: 20px;
}
.mobile-menu a{
    transition: 400ms;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

@media (max-width: 400px) {
    .logo{
        margin-left: 0
    }
}

@media (max-width: 700px) {
    nav .list {
        display: none;
    }
    nav .burger {
        display: block;
    }
    nav .profile {
        margin-left: auto;
    }
}
/*Form AI Page*/
@media (max-width: 970px) {
    .continer {
        max-width: 100%;
        flex-direction: column;
        margin: auto;
    }
    .continer h2{
        font-size: 23px
    }
    .left {
        padding: 0;
        border: none;
        width: 100%;
        box-shadow: none;
    }
    .generate-button{
        margin-bottom: 10px;
    }
    .right-side-container{
        margin-top: 0
    }
    .right{
        box-shadow: none;
        width: 100%;
        border: none;
    }
}
@media (min-width: 487px) {
    .left{
        margin-left: -15px
    }
}
/* Manual Form */
/*Creatre Form*/
@media (max-width: 900px) {
    .row{
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 4);
        width: calc(3/4 * 100%);
        margin-bottom: 57px;
    }
    .row .card{
        width: 100%
    }
    .cards{
        gap: 16px;
        margin-bottom: -197px;
    }
    .text{
        margin-bottom: 60px;
        font-size: 29px;
    }
    .next{
        padding: 10px
    }
}
@media (max-width: 386px) {
    .card{
        margin-bottom: 0;
    }
}
/* Form Builder */
.file-choosed {
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media (max-width: 920px) {
    .builder-container {
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
    .left-panel {
        margin: 0;
        border:none;
        width: 100%
    }
    .right-panel {
        width: 100%
    }
    .right-panel-child{
        border: 1px var(--color-gray-300) solid;
    }
}
@media (max-width: 600px) {
    .builder-container{
        width: 100%
    }
    .card{
        width: 100%
    }
    .responses {
        width: 102%
    }
}
@media (max-width: 470px) {
    .footer-buttons {
        width: 100%;
        padding: 17px;
    }
}
/* QR Code Page */
@media (max-width: 725px) {
    .boxes-container {
        flex-direction: column;
    }
    .box{
        border: none;
        width: 100%
    }
}