@import "tailwindcss";
@media (max-width: 768px) {
    /*Left Section In Mobile*/
    .left-section{
        display: none;
    }
    /*ٌRight Section In Mobile*/
    .right-section{
        padding: 20px;
        width: 100%;
        margin: auto
    }
    .right-section .mobile-logo{
        display: block;
    }
}